# 作業：{{ title }}

{% set display_week = week_padded if week_padded is defined else "%02d" | format(week) %}
> Week {{ display_week }}{% if assignment_id is defined %} · Assignment ID: `{{ assignment_id }}`{% endif %}

{% if course_name is defined %}
**課程：** {{ course_name }}

{% endif %}
{% if objectives is defined and objectives %}
## 學習目標

{% for objective in objectives %}
- {{ objective }}
{% endfor %}

{% endif %}
{% if instructions is defined and instructions %}
## 作業說明

{{ instructions }}

{% endif %}
{% if deliverables is defined and deliverables %}
## 繳交內容

{% for deliverable in deliverables %}
- {{ deliverable }}
{% endfor %}

{% endif %}
{% if resources is defined and resources %}
## 參考資源

{% for resource in resources %}
- {{ resource }}
{% endfor %}

{% endif %}
{% if submission is defined and submission %}
## 繳交方式

{{ submission }}

{% endif %}
